$primary-color: #007bff;
$text-color: #ccc;

.container {
  align-items: center;
}

.content {
  width: clamp(400px, 60%, 800px);
  padding: 2rem;
  color: $text-color;
  text-align: center;
}

.intro {
  font-family: 'Roboto', sans-serif;
  color: var(--accent);
  font-weight: 400;
  font-size: 1.1rem;

  .emoji {
    font-size: 2rem;
  }
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: $primary-color;
  color: $text-color;
  font-weight: bold;
  cursor: pointer;
}

// .hero p:first-child {
//   padding-block: 0 2rem;
// }

// .title_name,
// .title_slogan {
//   color: var(--primary);
//   font-size: 4.2rem;
//   line-height: 1.1;
//   letter-spacing: -0.1rem;
// }

// .title_slogan {
//   color: var(--secondary);
//   font-size: 3.8rem;
// }

// .text {
//   margin: 1rem 0 1rem;
//   max-width: 800px;
//   padding-right: 20%;
//   padding-bottom: 2rem;
// }

// @media screen and (max-width: 768px) {
//   .hero {
//     transform: translateX(0);
//   }

//   .title_name {
//     font-size: min(2rem + 4vw);
//   }

//   .title_slogan {
//     font-size: min(1.8rem + 3vw);
//   }

//   .text {
//     padding-right: 0;
//   }
// }
