.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.solid {
  background-color: var(--primary);
  color: var(--bg-primary);
  border: 1px solid var(--primary);
}

.outline {
  background-color: transparent;
  color: var(--accent);
  padding: 8px 20px;
  border: 2px solid var(--accent);
  transition: all 0.15s ease-out;
}

.small {
  padding: 5px 12px;
  font-size: 12px;
}

.medium {
  padding: 8px 20px;
  font-size: 15px;
}

.large {
  padding: 12px 26px;
  font-size: 20px;
}

.small:hover,
.medium:hover,
.large:hover {
  background: var(--bg-secondary);
  /* color: var(--bg-primary); */
  transition: all 0.15s ease-out;
}
