.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.15s ease-out;
}

.solid {
  color: var(--bg-primary);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.solid:hover {
  background: var(--bg-secondary);
}

.outline {
  color: var(--accent);
  background-color: transparent;
  border: 2px solid var(--accent);
}
.outline:hover {
  background-color: rgba(177, 177, 177, 0.2);
}

.small {
  padding: 5px 12px;
  font-size: 12px;
}

.medium {
  padding: 8px 20px;
  font-size: 15px;
}

.large {
  padding: 12px 26px;
  font-size: 20px;
}
