.Control {
  border: 1px solid green;
  position: fixed;
  display: flex;
  align-items: flex-end;
  bottom: 0;
  left: 0;
  /* font-size: 1.1rem; */
}

.Control::before {
  border-left: 1px solid var(--secondary);
  content: '';
  position: absolute;
  height: 360px;
  left: 60px;
  bottom: 0;
}

.container {
  position: relative;
  bottom: 220px;
}

.container > li {
  margin: 1rem;
}
