.list {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.mobile_menu {
  display: none;
  cursor: pointer;
  z-index: 10000;
}

@media screen and (max-width: 768px) {
  .list {
    display: none;
  }

  .mobile_menu {
    display: block;
  }
}

/* target locale switching menu */
.locale {
  font-size: 1rem;
  font-weight: bold;
}

/* target theme switching menu */
.theme li {
  line-height: 1rem;
}

.list_item {
  position: relative;
}

.icon_moon {
  font-size: 85%;
}

.icon_lock {
  height: 100%;
  font-size: 0.35rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  transform: translateX(130%);
}

.selection_item a,
.list_item a {
  position: relative;
  cursor: pointer;
}

.list_item a {
  color: var(--primary);
}

.popup_list {
  display: flex;
  position: absolute;
  left: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-15px);
  transition: all 0.15s ease-in-out;
}

.list_item a:hover {
  color: var(--accent);
  transform: translateY(-2px);
}

.selection_item:hover ~ .popup_list,
.selection_item ~ .popup_list:hover {
  background-color: var(--bg-secondary);
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

/* --- Mobile Locale Selection Menu --- */
.dropdown {
  background-color: var(--bg-primary);
  position: absolute;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transform: translateX(-22%);
}

.dropdown a {
  padding: 20px 38px;
}

.dropdown a:hover {
  background-color: #ddd;
}

.locale_overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0.6;
  top: 0;
  left: 0;
  z-index: 100;
}
/* ------------------------------- */

/* .list_item::before {
  content: ' ';
  background: linear-gradient(to left, rgba(0, 0, 0, 0.05), transparent 100%);
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  z-index: -1;
  visibility: hidden;
}
.list_item::after {
  content: '';
  background: linear-gradient(to right, rgba(0, 0, 0, 0.05), transparent 100%);
  position: absolute;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  z-index: -1;
  visibility: hidden;
}

.list_item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.list_item:hover::before,
.list_item:hover::after {
  visibility: visible;
} */
