.container {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
  line-height: 1.7rem;
  color: var(--primary);
  text-rendering: optimizeLegibility;
  margin-inline: auto;
}

.xclose {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  stroke: var(--primary);
}

.xclose:hover {
  stroke: var(--secondary);
}

.formGroup {
  padding: 3rem;
  position: relative;
  margin-block: 0 3rem;
  transition: transform 0.5s ease-in;
}

.formGroup {
  box-shadow: var(--box-shadow);
  padding: 25px;
  border-radius: 4px;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  color: inherit;
  border: 1px solid var(--bg-secondary);
  background: var(--bg-main);
  font-size: 0.9rem;
  margin: 0 0 5px;
  padding: 10px;
}

.formGroup input:hover,
.formGroup textarea:hover {
  transition: border-color 0.3s ease-in-out;
  border: 1px solid var(--secondary);
}

.formGroup textarea {
  max-width: 100%;
  resize: none;
}

.formGroup input:focus,
.formGroup textarea:focus {
  outline: 0;
  border: 1px solid var(--secondary);
}

.form {
  margin-top: 2rem;
}
