.Control {
  position: fixed;
  width: 40px;
  bottom: 0;
  left: 40px;
  right: auto;
  z-index: 10;
  transition: left 0.2s linear;
}

@media screen and (max-width: 1100px) {
  .Control {
    left: 15px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.container::after {
  content: '';
  display: block;
  width: 1px;
  height: 100px;
  margin: 0px auto;
  background-color: var(--secondary);
}

.list_item {
  height: 3rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  transition: transform 0.15s;
}

.list_item:hover {
  transform: translateY(-5px);
}

.list_item > a {
  fill: var(--primary);
  color: var(--primary);
}

.list_item > a:hover {
  color: var(--accent);
}

.list_item > a:hover svg {
  fill: var(--accent);
}

.list_item a {
  height: 100%;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: all 0.15s ease-in; */
}

.list_item a:active {
  transform: scale(0.95);
}

.list_item a svg {
  width: 1.5rem;
}

@media screen and (max-width: 768px) {
  .Control {
    display: none;
  }
}

/* .list_item:nth-child(n + 3) {
  border: 1px solid blue;
  font-size: 1.5rem;
} */

/* .list_item {
  border: 1px solid coral;
  text-align: center;
  font-size: 1.5rem;
  color: inherit;
} */
