.heading {
  /* border: 1px solid green; */
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem;
}
.heading::before {
  content: '';
}
.heading::after {
  content: none;
}

.heading h1 {
  margin-left: 0.7rem;
}

.list_item {
  margin: 0 0 7rem;
  /* font-size: 1.2rem; */
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* external child module Feature.module.css */
.list_item:nth-child(odd) {
  flex-direction: row-reverse;
  text-align: end;
}

.list_item:nth-child(odd) > div:first-child {
  margin-left: -12%;
}

.list_item:nth-child(even) > div:last-child {
  margin-left: -12%;
}

.list_item:nth-child(odd) div ul {
  justify-content: flex-end;
}
.list_item:nth-child(odd) div ul:last-child {
  margin-right: 0;
}

/* .title */
.list_item:nth-child(odd) div a h2:hover {
  transform: translateX(2px);
}
.list_item:nth-child(even) div a h2:hover {
  transform: translateX(-2px);
}
