.container {
  display: flex;
  margin: 5rem 0;
  justify-content: space-between;
  align-items: center;

  transform: translateY(40%);
  opacity: 0;
  transition: all 0.5s ease-in;
}
.container:hover .img_container {
  filter: none;
}

.show {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.4s ease-in;
}

.show_01 {
  transform: translateY(0) !important;
  opacity: 1 !important;
  transition: transform 0.4s ease-in, opacity 0.6s ease-in;
  transition-delay: 0.6s;
}

.show_05 {
  transform: translateY(0) !important;
  opacity: 1 !important;
  transition: transform 0.3s ease-in, opacity 0.4s ease-in;
  transition-delay: 0.3s;
}

.content {
  height: 100%;
  margin-right: -100px;
  z-index: 2;
}

.sources a svg {
  color: var(--primary);
  display: inline-block !important;
}

.sources a:first-child:active svg,
.sources a:active svg {
  transform: scale(0.92);
}

.sources a:first-child svg {
  fill: var(--primary);
  width: 21px !important;
}

.content a svg {
  width: 25px;
}

.content svg:hover {
  color: var(--accent);
}

.sources a:first-child svg:hover {
  fill: var(--accent);
}

.content a:first-child svg {
  transform: translateY(-2px);
  width: 20px;
  margin-right: 0.5rem;
}

.img_container {
  min-width: max(55%, 350px);
  filter: grayscale(60%);
  transition: var(--transition);
}

.img_container div {
  display: block !important;
}

.img {
  object-fit: cover;
  border-radius: 4px;
}

.title {
  color: var(--accent);
  margin: 1rem 0 0;
  font-family: 'Roboto', serif;
  font-weight: bold;

  opacity: 0;
  transform: translateY(15px);
  transform-origin: top;
}
.title:hover {
  filter: brightness(1.15);
}

.date {
  font-size: 0.6rem;
  /* font-weight: 900; */
  margin-bottom: 1rem;
}

.description {
  background-color: var(--deep-dark);
  border-radius: 4px;
  letter-spacing: 0.03rem;
  color: #ddd;
  box-shadow: var(--box-shadow);
  padding: min(5%, 1rem) min(5%, 1.5rem);

  opacity: 0;
  transform: translateY(20px);
}

.tech_list {
  margin: 0.8rem auto 0;
}

.tech_li {
  line-height: 1.32rem;
  padding: 0 0.5rem;
  display: inline-block;
  font-family: courier, sans-serif;
  font-size: 0.8rem;
  color: #ddd;
  background-color: #000;
  margin: 0 0.1rem;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
  .img_container {
    min-width: 0;
    width: 100%;
  }
  .content {
    width: 95%;
    padding: min(3.5%, 0.8rem);
    margin: 0;
    margin-top: max(-160px, -30%);
    border-radius: 4px;
    background-color: var(--bg-primary-transparent);
  }

  .tech_list {
    text-align: center;
  }
}
