.heading {
  display: flex;
  margin-bottom: min(4rem, 5%);
  white-space: nowrap;
}

.heading::after {
  content: '';
  width: 100%;
  position: relative;
  border-bottom: 1px solid var(--secondary);
  bottom: 0;
}

.heading::after {
  margin-left: 0.8rem;
}

@media screen and (max-width: 650px) {
  .heading {
    white-space: normal;
    flex-wrap: wrap;
  }

  .heading::after {
    content: none;
  }
}

.list_item:nth-child(even) > div {
  flex-direction: row-reverse;
  text-align: end;
}

.list_item:last-child > div {
  margin-bottom: 0;
}

.list_item:nth-child(even) > div > div:first-child {
  margin-right: 0;
  margin-left: -100px;
}

@media screen and (max-width: 768px) {
  .list_item:nth-child(even) > div {
    flex-direction: column-reverse;
  }

  .list_item:nth-child(even) > div > div:first-child {
    margin-left: 0;
  }
}
