.start {
  transform: translateY(40%);
  opacity: 0;
  transition: all 0.5s ease-in;
}

.show {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.5s ease-in;
}

.show_02 {
  transform: translateY(0) !important;
  opacity: 1 !important;
  transition: transform 0.5s ease-in, opacity 0.7s ease-in;
  transition-delay: 0.2s;
}

.show_06 {
  transform: translateY(0) !important;
  opacity: 1 !important;
  transition: transform 0.6s ease-in, opacity 0.8s ease-in;
  /* transition-delay: 0.6s; */
}

.content {
  /* border: 1px solid green; */
  width: 52%;
  z-index: 2;
}

.img_container {
  /* border: 1px solid red; */
  width: 60%;
  min-width: 350px;
  filter: grayscale(60%);
  transition: var(--transition);
  display: block;
}
.img_container:hover {
  filter: none;
}

/* .img_container a div {
  display: block !important;
} */

.img {
  object-fit: cover;
  border-radius: 4px;
}

.title {
  color: var(--accent);
  margin: 0.6rem 0 1.6rem;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0;
  transform: translateY(50px);
  transform-origin: top;
}

.title:hover {
  color: black;
}

.description {
  background-color: var(--deep-dark);
  border-radius: 4px;
  letter-spacing: 0.03rem;
  color: var(--bg-primary);
  box-shadow: 0 10px 30px -10px #555;
  padding: 1rem 1.5rem;
  opacity: 0;
  transform: translateY(40px);
}

.tech_list {
  margin: 1.6rem 0 0.6rem;
  display: flex;
  justify-content: flex-start;
}

.tech_li {
  line-height: 1.3rem;
  margin: 0 0.1rem;
  padding: 0 0.3rem;
  font-family: courier;
  font-size: 0.95rem;
  color: var(--bg-primary);
  background-color: #000;
}

.tech_li:last-child {
  margin-right: 0;
}

.tech_li:first-child {
  margin-left: 0;
}
