:root {
  --nav-height: 100px;
  --primary: #505050;
  --secondary: #989898;
  --bg-primary: #fff;
  --bg-secondary: #ccc;
  --accent: #095f9d;
  --nav-color: hsla(0, 0%, 90%, 0.85);
  --shadow-color: rgba(2, 12, 27, 0.7);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--primary);
}

section {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 100px;
}

@media screen and (max-width: 768px) {
  section {
    padding: 0 5%;
  }
}

.heading {
  font-size: 2rem;
  position: relative;
  display: flex;
}

.heading h1 {
  font-size: 2rem;
  margin-right: 0.7rem;
  white-space: nowrap;
}

.heading::after {
  content: '';
  display: block;
  width: 330px;
  position: relative;
  border-bottom: 1px solid #ccc;
  bottom: 9px;
}

@media screen and (max-width: 1000px) {
  .heading::after {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .heading::after {
    width: 100%;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

button:hover,
button:focus {
  background: transparent;
}

button:focus {
  outline: none;
}

.fas {
  z-index: 10;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.fa-bars {
  color: var(--primary);
}

.accent {
  color: var(--accent);
}

@media screen and (max-width: 768px) {
  .fa-times {
    color: var(--primary);
    font-size: 2rem;
  }
}
