.hero {
  margin-inline: auto;
}

.intro {
  color: var(--accent);
  font-weight: 600;
}

.title_name {
  color: var(--primary);
  font-size: 4.2rem;
  line-height: 1.15;
  letter-spacing: -0.15rem;
}

.title_slogan {
  color: var(--secondary);
  margin: 0;
  font-size: 3.8rem;
  line-height: 1.15;
  letter-spacing: -0.15rem;
}

@media screen and (max-width: 768px) {
  .title_name {
    font-size: min(2.2rem + 4vw);
  }

  .title_slogan {
    font-size: min(2rem + 4vw);
  }
}
