.intro {
  color: var(--accent);
  font-weight: 600;
}

.title_name {
  color: var(--primary);
  font-size: 4.2rem;
  line-height: 1.15;
  letter-spacing: -0.15rem;
}

.title_slogan {
  color: var(--secondary);
  margin: 0;
  font-size: 3.8rem;
  line-height: 1.15;
  letter-spacing: -0.15rem;
}
