/* .container {
} */

.title__name {
  color: var(--primary);
  line-height: 1.15;
  font-size: 68px;
  font-weight: bold;
  letter-spacing: -0.15rem;
}

.title__slogan {
  color: var(--secondary);
  margin: 0;
  line-height: 1.15;
  font-size: 62px;
  letter-spacing: -0.15rem;
}
