.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  /* position: sticky; */
  /* top: 0; */
}

.navbarLogo {
  color: var(--accent);
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: var(--transition);
}

.navMenu {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
}

/* .navItem {
} */

.navLinks {
  color: var(--primary);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
}

.resumeButton {
  padding: 0;
  padding-left: 0.5rem;
}

.navLinks:hover {
  color: coral;
  transition: all 0.15s ease-out;
}

.navLinksMobile {
  display: block;
  white-space: nowrap;
}

.menuIcon {
  display: none;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  .NavbarItems {
    position: relative;
  }

  .navMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 50px 10px;
    width: min(75vw, 400px);
    height: 100vh;
    outline: 0;
    background-color: #e6e6e6;
    box-shadow: -10px 0px 30px -15px var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: -430px;
    transform: translateX(0vw);
    visibility: visible;
    transition: 300ms;
    z-index: 9;
  }

  .navMenu.active {
    right: 0;
    transition: 200ms;
    z-index: 1;
  }

  .navLinks {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navLinks:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbarLogo {
    transform: translateX(-30%);
    transition: var(--transition);
  }

  .menuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 10;
  }

  .navLinksMobile {
    display: block;
    width: 80%;
    margin: 2rem auto;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--accent);
    background-color: transparent;
    border: 1px solid var(--accent);
    border-radius: 4px;
    transition: all 0.3s ease-out;
  }

  .navLinksMobile:hover {
    background: #fff;
    /* color: #242424; */
    transition: 250ms;
  }
}
