.navbar {
  height: var(--nav-height);
  width: 100%;
  padding: 0 3.2rem;
  font-size: 0.9rem;
  background-color: var(--bg-primary-transparent);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: height 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.25s cubic-bezier(0.645, 0.045, 0.355, 1),
    width 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 10;
}

.navbar::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navbar.scrolled {
  height: calc(var(--nav-height) - 40px);
}
.navbar.scrolled::before {
  backdrop-filter: blur(6px) brightness(92%);
}

@media screen and (max-width: 768px) {
  .navbar {
    height: calc(var(--nav-height) - 30px);
    padding: 0 2rem;
  }

  .navbar.scrolled {
    background-color: transparent;
  }

  .navbar.scrolled::before,
  .navbar.scrolled .logoContainer {
    transform: translateY(-70px);
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    padding: 0 1rem;
  }
}

.logoContainer {
  transition: all 0.3s ease-in;
}

.logoContainer h1 {
  color: var(--accent);
}

.logoContainer h1:active {
  transform: scale(0.95);
}

.menuIcon {
  display: none;
  stroke: var(--primary);
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.navMenu {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  position: relative;
}

.navControls {
  height: calc(var(--nav-height) - 30px);
  padding-left: 1.2rem;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
}

.navControls a {
  color: inherit;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.8rem;
}

.navLinks {
  color: var(--primary);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
}

.navLinks:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent);
  transition: all 0.15s ease-out;
}

.resumeButton {
  padding: 0;
  padding-left: 0.5rem;
}

.resumeButton:hover {
  text-decoration: none;
}

.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px) brightness(75%);
  z-index: 8;
}

@media screen and (max-width: 768px) {
  .menuIcon {
    display: flex;
    z-index: 10;
  }

  .menuIcon.scrolled {
    backdrop-filter: blur(2px) brightness(92%);
    border-radius: 40px;
    padding: 0.4rem;
  }

  .navMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: 90px;
    font-size: 1.1rem;
    width: min(75vw, 400px);
    background-color: var(--bg-primary);
    box-shadow: -10px 0px 30px -15px var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    right: -430px;
    transition: all 150ms;
    z-index: 9;
    overflow-y: auto;
  }

  .navMenu.active {
    right: 0;
  }

  .navMenu li {
    width: 100%;
  }

  .navMenu li span {
    margin-left: 0.3rem;
    display: flex;
    width: 15px;
  }

  .navLinks {
    text-align: center;
    padding: 1.3rem;
    display: flex;
    justify-content: center;
  }

  .navLinks:hover {
    background-color: var(--bg-secondary);
    color: var(--primary);
    text-decoration: none;
    border-radius: 0;
  }

  .navLinksMobile {
    display: block;
    width: 80%;
    margin: 2rem auto;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: var(--accent);
    background-color: transparent;
    border: 1px solid var(--accent);
    border-radius: 4px;
    transition: background-color 0.15s ease-out;
  }

  .navLinksMobile:hover {
    background-color: var(--bg-secondary);
    transition: background-color 0.15s ease-out;
  }

  .navLinksMobile:active {
    transform: scale(0.95);
  }
}
