.heading {
  display: flex;
  justify-content: center;
  margin-bottom: min(4rem, 5%);
  white-space: nowrap;
}

.heading::before,
.heading::after {
  content: '';
  width: 130px;
  position: relative;
  border-bottom: 1px solid var(--secondary);
  bottom: 7px;
}

.heading::before {
  margin-right: 0.8rem;
}

.heading::after {
  margin-left: 0.8rem;
}

@media screen and (max-width: 650px) {
  .heading {
    white-space: normal;
    flex-wrap: wrap;
  }

  .heading::before,
  .heading::after {
    content: none;
  }
}

.list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.btn_container {
  padding-top: 5rem;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .list {
    gap: calc(0.3rem + 2vw);
  }
}
