.list {
  /* border: 1px solid purple; */
  margin: 4rem 0;
}

.list_item {
  /* border: 1px solid green; */
  margin: 3rem 0;
  font-size: 1.2rem;
  line-height: 2rem;
  display: flex;
}

.list_item:nth-child(odd) {
  flex-direction: row-reverse;
  text-align: end;
}

.title {
  margin-bottom: 1rem;
}

.tech_list {
  display: flex;
  justify-content: flex-start;
}

.list_item:nth-child(odd) .tech_list {
  justify-content: flex-end;
}

.tech_li {
  margin: 0.5rem 1rem;
  font-family: courier;
  font-size: 0.95rem;
  color: purple;
}

.tech_li:first-child {
  margin-left: 0;
}

.list_item:nth-child(odd) .tech_li:last-child {
  margin-right: 0;
}

.img_container {
  /* border: 1px solid greenyellow; */
  min-width: 350px;
}

.img {
  border: 4px solid purple;
}
