.list {
  /* border: 1px solid purple; */
  margin: 4rem 0;
}

.list_item {
  margin: 2rem 0 10rem;
  font-size: 1.2rem;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.list_item:nth-child(odd) {
  flex-direction: row-reverse;
  text-align: end;
}

.list_item:nth-child(odd) div ul {
  justify-content: flex-end;
}

.list_item:nth-child(odd) > div:first-child {
  margin-left: -12%;
}

.list_item:nth-child(odd) > div:last-child {
  transform: rotate(2deg) translateY(2rem);
}

.list_item:nth-child(even) > div:last-child {
  margin-left: -12%;
  transform: rotate(-2deg) translateY(2rem);
}

.list_item:nth-child(odd) div ul:last-child {
  margin-right: 0;
}
